@import "tailwindcss";

:root {
  --background: #FEFDFD;
  --foreground: #FEFDFD;
  
}

.font-rhm {
  font-family: var(--font-redhatmono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FEFDFD;
    --foreground: #FEFDFD;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
